<div style="width:100vw;height:100vh;" class="d-flex flex-column bg-dark justify-content-center align-items-center align-middle ">
    <div class="text-center border border-light border-3 py-5" style="padding-left:75px; padding-right:75px;border-radius:25px;">
    <h1 class="text-light mb-4">{{title}}</h1>
    <div style="width:300px; height:60px;" class="text-center">
        <a type="button" class="btn btn-primary mx-2" href="/add">add</a>
        <a type="button" class="btn btn-primary mx-2" href="/list">list</a>
        <a type="button" class="btn btn-primary mx-2" href="/edit">edit</a>
    </div>
    </div>

</div>

